body {
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: sans-serif;
    }

.img {
    max-width: 100%;
    max-height: fit-content;
}

.imgstyle {
    height: fit-content;

}

.table {
    margin-left: 30%;
    margin-right: 30%;
}